html{
    scroll-behavior: smooth;
    transition: all 0.5 ease;
}

header{
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    height: 30%;
    
}
#nav_menu{
    margin: 2%;
    display: none;
}
#nav_close{
    display: none;
}

.first_logo{
    position: absolute;
    top: 0;
    z-index: 0;
    left: 0;
    width: 230px;
    height: 80px;
}
nav{
    background-color: black;
    width: 100%;
    height: 17%;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: larger;

}
.nav_bar{
    margin-top: 2%;
}

.nav_bar > li{
    list-style: none;
    display: inline-flex;
    padding: 15px;
    

}
li > a{
    text-decoration: none;
    color: white;
    transition: all 0.4s ease;
   
}
.nav_bar:hover a{
    color: white;
    filter: blur(2px);
    transform: scaleX(1);
    opacity: 1;
}
.nav_bar a:hover {
    cursor: pointer;
    color: blue;
    filter: blur(0px);
    transform: scale(1.1);
    opacity: 3;
}
.light_mode{
    position: absolute;
    top: 20px;
    right: 20px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
    animation: ani 2s infinite;
}
.light_mode:hover{
    transform: scale(1.1);
}
.dark-theme {
    background-color: #333;
    color: white;
  }
  .dark-theme:hover {
    background-color: #333;
  }

  .dark-theme:focus {
    outline: none;
  }
.image_1{

    width: 100%;
    height: 100%;
  
    background-color: rgba(0, 0, 0, 0.759);
}
/*for tablets only*/
@media only screen and (min-width:600px) and (max-width: 950px) {
    header{
        position: absolute;
        height: 30%;
        

    }
    .first_logo{
        margin-top: -3%;
        margin-left: 40%;
        width: 200px;
    

    }
    nav{
        position: fixed;
        z-index: 1;
        margin-top: -2.3%;
        width: 60%;
        height: 0vh;
        overflow: hidden;
        box-shadow: 3px 3px 5px black;
        background-color: black;
        transition: height 0.5s ease;
    }
    .nav_bar{
        margin-top: 15%;

    }
    .nav_bar> li{
        display: block;
        
    }
    
    #nav_menu{
        cursor: pointer;
        transition: all 1s ease;
        height: 50px;
        display: block;
    }
    #nav_close{
        cursor: pointer;
        float: left;
        font-size: 45px;
        display: block;
        transition: all 1s ease;
    }
   

}
@media only screen and (min-width: 20px) and (max-width: 599px) {
    header{
        position: absolute;
        height: 13%;
        

    }
    .first_logo{
        margin-left: 35%;
        width: 150px;
        height: 50px;

    }
    nav{
        position: fixed;
        margin-top: 0%;
        z-index: 1;
        width: 90%;
        height: 0vh;
        overflow: hidden;
        box-shadow: 3px 3px 5px white;
        background-color: rgba(0, 0, 0, 0.73);
        transition: height 0.5s ease;
    }
    .nav_bar{
        margin-top: 15%;

    }
    .nav_bar> li{
        display: block;
        
    }
    
    #nav_menu{
        cursor: pointer;
        transition: all 1s ease;
        height: 20px;
        display: block;
    }
    #nav_close{ 
        cursor: pointer;
        float: left;
        font-size: 45px;
        display: block;
        transition: all 1s ease;
    }
   

}

